In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [30]:
# Import random forest regressor and multioutput regressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,mean_squared_error
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [31]:
file1 = 'AbacusCosmos_1100box.txt'
file2 = 'AbacusCosmos_1100box_planck.txt'

In [32]:
#read file using pandas
data1 = pd.read_csv(file1, sep=" ", header=None,index_col = 0)
data2 = pd.read_csv(file2, sep=" ", header=None,index_col = 0)

In [33]:
data1.head()

,1,2,3,4,5,6,7,8,9,10,...,31,32,33,34,35,36,37,38,39,40
0,,,,,,,,,,,,,,,,,,,,,
0.0,68.950040,62.993740,72.285620,66.219550,74.208300,71.523580,68.604320,66.668850,65.845990,72.669590,...,64.619420,69.790060,63.337290,66.115610,70.124050,73.231890,63.771890,70.546610,74.518710,71.869200
0.0,0.698315,0.669024,0.739153,0.670652,0.733331,0.706278,0.717132,0.708528,0.694629,0.718771,...,0.674386,0.702410,0.681278,0.685586,0.692022,0.713713,0.659099,0.727426,0.747050,0.725756
0.0,0.301685,0.330976,0.260847,0.329348,0.266669,0.293722,0.282868,0.291472,0.305371,0.281229,...,0.325614,0.297590,0.318722,0.314414,0.307978,0.286287,0.340901,0.272574,0.252950,0.274244
0.0,0.930033,0.982304,0.970472,0.975418,0.954402,0.954106,0.960314,0.987369,0.957165,0.931160,...,0.956390,0.976934,0.983535,0.982377,0.941344,0.962267,0.962861,0.973076,0.950712,0.953249
0.0,0.853824,0.719284,0.851027,0.858119,0.888737,0.912931,0.768274,0.733582,0.691564,0.890242,...,0.735058,0.890489,0.646633,0.743564,0.905562,0.978598,0.737968,0.825002,0.885869,0.881437

In [34]:
new_data = pd.concat([data1,data2], axis = 1)

In [35]:
new_data.head(10)

,1,2,3,4,5,6,7,8,9,10,...,11,12,13,14,15,16,17,18,19,20
0,,,,,,,,,,,,,,,,,,,,,
0.000000,68.950040,62.993740,72.285620,66.219550,74.208300,71.523580,68.604320,66.668850,65.845990,72.669590,...,67.260000,67.260000,67.260000,67.260000,67.260000,67.260000,67.260000,67.260000,67.260000,67.260000
0.000000,0.698315,0.669024,0.739153,0.670652,0.733331,0.706278,0.717132,0.708528,0.694629,0.718771,...,0.685847,0.685847,0.685847,0.685847,0.685847,0.685847,0.685847,0.685847,0.685847,0.685847
0.000000,0.301685,0.330976,0.260847,0.329348,0.266669,0.293722,0.282868,0.291472,0.305371,0.281229,...,0.314153,0.314153,0.314153,0.314153,0.314153,0.314153,0.314153,0.314153,0.314153,0.314153
0.000000,0.930033,0.982304,0.970472,0.975418,0.954402,0.954106,0.960314,0.987369,0.957165,0.931160,...,0.965200,0.965200,0.965200,0.965200,0.965200,0.965200,0.965200,0.965200,0.965200,0.965200
0.000000,0.853824,0.719284,0.851027,0.858119,0.888737,0.912931,0.768274,0.733582,0.691564,0.890242,...,0.830000,0.830000,0.830000,0.830000,0.830000,0.830000,0.830000,0.830000,0.830000,0.830000
0.000000,-1.139198,-0.764783,-1.083356,-0.982489,-1.221581,-1.289901,-0.969291,-0.787883,-0.795959,-1.235559,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
0.011920,15809.341914,10568.146304,18681.724985,13378.118729,18656.861800,16579.401340,14648.890305,13362.988898,11458.562191,18085.618533,...,13561.852544,16092.150464,12308.224025,16759.067535,16499.169633,17125.589538,13490.302842,13458.653743,15166.950567,17335.242986
0.022847,13864.460361,9595.560755,15747.265127,12324.836666,15965.767133,14746.989689,12558.978571,11599.994643,10007.632561,15605.108012,...,13617.143844,14323.512675,15483.399389,14063.010819,12918.976422,14117.637671,14907.025190,14029.632798,14707.902784,13558.657842
0.034121,11863.536864,8351.804524,12835.591483,10928.107265,13285.724380,12760.679041,10399.724921,9580.805533,8407.381286,13143.663242,...,10778.172323,10621.403355,11724.809144,10786.540608,10829.474340,11119.621037,10620.810089,10578.477661,9798.770873,11250.083830
0.045586,9027.403739,6241.961321,9689.804443,8359.970418,10157.472809,9848.382400,7770.613293,7043.343046,6218.525057,10037.164301,...,8236.195748,8150.044753,8165.752807,8133.842598,7767.590179,7608.473595,8022.438941,8034.760052,8429.564677,8053.361676

In [36]:
data = new_data.transpose().copy()

In [37]:
data.head()

,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011920,0.022847,0.034121,0.045586,...,5.740654,5.752068,5.763479,5.774891,5.786302,5.797716,5.809130,5.820543,5.831955,5.843366
1,68.95004,0.698315,0.301685,0.930033,0.853824,-1.139198,15809.341914,13864.460361,11863.536864,9027.403739,...,12.818603,12.773812,12.727524,12.665790,12.621257,12.573108,12.525960,12.473956,12.423609,12.379444
2,62.99374,0.669024,0.330976,0.982304,0.719284,-0.764783,10568.146304,9595.560755,8351.804524,6241.961321,...,10.117571,10.077865,10.039500,10.005285,9.971843,9.929925,9.892739,9.858199,9.825866,9.789331
3,72.28562,0.739153,0.260847,0.970472,0.851027,-1.083356,18681.724985,15747.265127,12835.591483,9689.804443,...,13.557494,13.505047,13.447689,13.395983,13.342144,13.293052,13.241906,13.195606,13.137567,13.092850
4,66.21955,0.670652,0.329348,0.975418,0.858119,-0.982489,13378.118729,12324.836666,10928.107265,8359.970418,...,14.112195,14.054219,14.001385,13.945112,13.898409,13.835032,13.790999,13.738860,13.677889,13.627670
5,74.20830,0.733331,0.266669,0.954402,0.888737,-1.221581,18656.861800,15965.767133,13285.724380,10157.472809,...,14.243636,14.178737,14.122188,14.072933,14.015208,13.956736,13.905112,13.856379,13.798439,13.743013

In [38]:
data.reset_index(drop=True,inplace=True)

In [39]:
X = data.drop(data.iloc[:,0:5],axis=1)

In [40]:
y = data.iloc[:,0:6]

In [41]:
scalar = MinMaxScaler()
#X_t = scalar.fit_transform(X)
#X = pd.DataFrame(X_t,columns=X.columns)

In [42]:
y_t = scalar.fit_transform(y)
y = pd.DataFrame(y_t,columns=y.columns)

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=42)

In [44]:
y.head()

0       0.0       0.0       0.0       0.0       0.0       0.0
0  0.558223  0.572098  0.427902  0.000000  0.588521  0.323056
1  0.107846  0.314917  0.685083  0.874823  0.206366  0.846334
2  0.810438  0.930669  0.069331  0.676812  0.580577  0.401100
3  0.351761  0.329213  0.670787  0.759586  0.600720  0.542071
4  0.955818  0.879549  0.120451  0.407850  0.687689  0.207918

In [45]:
max_depth = 40
n_estimators = 250

In [46]:
from sklearn.model_selection import cross_val_score

def get_score(n_estimators):
    """Return the average MAE over 5 CV folds of random forest model.
    
    Keyword argument:
    n_estimators -- the number of trees in the forest
    """
  #fit Random Forest Regressor
    reg_rf = RandomForestRegressor(
        n_estimators=n_estimators,
        criterion='mse',
        max_depth=None,
        min_samples_split=0.5,
        min_samples_leaf=1,
        min_weight_fraction_leaf=0.0,
        max_features='auto',
        max_leaf_nodes=None,
        min_impurity_decrease=0.0,
        min_impurity_split=None,
        bootstrap=True,
        oob_score=False,
        n_jobs=None,
        random_state=None,
        verbose=0,
        warm_start=False,
    )
    scores = -1 * cross_val_score(reg_rf, X, y,
                                  cv=4,
                                  scoring='neg_mean_absolute_error')
    return scores.mean()

In [47]:
results = {}
for i in range(1,10):
    results[50*i] = get_score(50*i) # Your code here

In [48]:
n_estimators_best = min(results, key=results.get)
print (n_estimators_best)

150

In [49]:
import matplotlib.pyplot as plt
%matplotlib inline

#plt.plot(results.keys(), results.values())
#plt.show()

In [50]:

#fit Random Forest Regressor
#depth = [10,20,30,40,50,60]
#estimators = [10,20,30,100,200,300,400]
error = {}

for n_estimators in range(10,500,10):
    reg_rf = RandomForestRegressor(
        n_estimators=n_estimators,
        criterion='mse',
        max_depth=500,
        min_samples_split=0.5,
        min_samples_leaf=1,
        min_weight_fraction_leaf=0.0,
        max_features='auto',
        max_leaf_nodes=None,
        min_impurity_decrease=0.0,
        min_impurity_split=None,
        bootstrap=False,
        oob_score=False,
        n_jobs=-1,
        random_state=None,
        verbose=0,
        warm_start=False,
    )
    reg_rf.fit(X_train,y_train)
    y_rf = reg_rf.predict(X_test)
    error[n_estimators] = mean_squared_error(y_test,y_rf)
best = min(error, key=error.get)
print (best)

60

In [51]:
#plt.plot(error.keys(),error.values())

In [52]:
#fit Random Forest Regressor

reg_rf = RandomForestRegressor(
    n_estimators=35,
    criterion='mse',
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=None,
    min_impurity_decrease=0.0,
    min_impurity_split=None,
    bootstrap=False,
    oob_score=False,
    n_jobs=-1,
    random_state=None,
    verbose=0,
    warm_start=True,
)

reg_rf.fit(X_train,y_train)
y_rf = reg_rf.predict(X_test)

In [53]:
reg_rf.score(X_test,y_test)

/home/ajana/anaconda3/envs/tensorflow_gpu/lib/python3.7/site-packages/sklearn/base.py:420: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

-0.4843589051416581

In [54]:
print (np.mean((y_rf - y_test)**2, axis=0))

0
0.0    0.048737
0.0    0.042237
0.0    0.042237
0.0    0.046987
0.0    0.031120
0.0    0.042459
dtype: float64

In [55]:
pd.concat([pd.DataFrame(scalar.inverse_transform(y_test.reset_index(drop=True))),
                        pd.DataFrame(scalar.inverse_transform(y_rf))], axis = 1)

,0,1,2,3,4,5,0,1,2,3,4,5
0,68.95004,0.698315,0.301685,0.930033,0.853824,-1.139198,65.385050,0.675494,0.324506,0.961427,0.768344,-0.869400
1,71.52358,0.706278,0.293722,0.954106,0.912931,-1.289901,67.387180,0.684912,0.315088,0.968036,0.812685,-0.998085
2,63.77189,0.659099,0.340901,0.962860,0.737968,-0.761961,70.117755,0.715965,0.284035,0.966161,0.832709,-1.030547
3,67.26000,0.685847,0.314153,0.965200,0.830000,-1.000000,67.260000,0.685847,0.314153,0.965200,0.830000,-1.000000
4,64.07216,0.670416,0.329584,0.976326,0.775957,-0.792247,62.748180,0.645115,0.354885,0.964982,0.769882,-0.796463
5,67.26000,0.685847,0.314153,0.965200,0.830000,-1.000000,67.260000,0.685847,0.314153,0.965200,0.830000,-1.000000
6,66.11561,0.685586,0.314414,0.982377,0.743564,-0.865620,62.748180,0.645115,0.354885,0.964982,0.769882,-0.796463
7,67.26000,0.685847,0.314153,0.965200,0.830000,-1.000000,67.260000,0.685847,0.314153,0.965200,0.830000,-1.000000
8,65.19518,0.686572,0.313428,0.989783,0.777796,-0.827385,69.631410,0.714564,0.285436,0.963645,0.806957,-1.014790
9,67.26000,0.685847,0.314153,0.965200,0.830000,-1.000000,67.260000,0.685847,0.314153,0.965200,0.830000,-1.000000
10,67.26000,0.685847,0.314153,0.965200,0.830000,-1.000000,67.260000,0.685847,0.314153,0.965200,0.830000,-1.000000
11,67.26000,0.685847,0.314153,0.965200,0.830000,-1.000000,67.260000,0.685847,0.314153,0.965200,0.830000,-1.000000
12,69.79006,0.702410,0.297590,0.976934,0.890489,-1.138622,67.807697,0.696545,0.303455,0.973524,0.805780,-0.983410
13,66.21955,0.670652,0.329348,0.975418,0.858119,-0.982489,62.748180,0.645115,0.354885,0.964982,0.769882,-0.796463
14,67.26000,0.685847,0.314153,0.965200,0.830000,-1.000000,67.869791,0.693231,0.306769,0.964800,0.824075,-1.003803
15,62.08498,0.657980,0.342020,0.950037,0.714087,-0.744883,66.563103,0.699555,0.300445,0.973227,0.748390,-0.828423
16,65.84599,0.694629,0.305371,0.957165,0.691564,-0.795959,69.292663,0.705499,0.294501,0.952493,0.837133,-1.023607
17,68.60432,0.717132,0.282868,0.960314,0.768274,-0.969291,70.117755,0.715965,0.284035,0.966161,0.832709,-1.030547

In [ ]:
sns.jointplot(y_rf[:,0],y_test.iloc[:,0],kind = 'kde')

In [ ]:
sns.jointplot(y_test.iloc[:,2],y_test.iloc[:,1],kind = "kde")
sns.jointplot(y_rf[:,2],y_rf[:,1],kind = 'kde',color='green')

In [ ]:
from xgboost import XGBRegressor

#fit multioutput regressor
multioutputregressor = MultiOutputRegressor(XGBRegressor(max_depth=10,n_estimators=200, 
                                                         learning_rate=0.5,
                                                         objective = 'reg:squarederror',
                                                         booster='gbtree',
                                                         n_jobs=-1))
multioutputregressor.fit(X_train, y_train)
# predicting
y_multirf = multioutputregressor.predict(X_test)
print (np.mean((y_multirf - y_test)**2, axis=0))

In [ ]:
multioutputregressor.score(X_test,y_test)

In [ ]:
pd.concat([pd.DataFrame(scalar.inverse_transform(y_test.reset_index(drop=True))),
                        pd.DataFrame(scalar.inverse_transform(y_multirf))], axis = 1)

In [ ]:
sns.jointplot(y_test.iloc[:,0],y_test.iloc[:,1],kind = "kde")
sns.jointplot(y_rf[:,0],y_rf[:,1],kind = 'kde',color='red')
sns.jointplot(y_multirf[:,0],y_multirf[:,1],kind = 'kde',color='green')

In [ ]:
sns.pairplot(pd.DataFrame(y_rf),diag_kind="kde")

In [ ]:
sns.distplot(X.iloc[1],hist=False,rug=True,kde=False)

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
parameters = {"n_estimators":[10,20,30,40,50,60,70,80,90,100],
    "max_depth":[None,5,10,15,20,25,30],
    "min_samples_split":[0.5],
    "max_features":('auto','sqrt','log2'),
    "bootstrap":[True],
    "oob_score":[True]}

In [ ]:
clf = GridSearchCV(reg_rf, parameters, cv=5)
clf.fit(X_train,y_train)

In [ ]:
sorted(clf.cv_results_.keys())

In [ ]:
grid = clf.predict(X_test)

In [ ]:
print (np.mean((grid - y_test)**2, axis=0))

In [ ]:
pd.concat([pd.DataFrame(scalar.inverse_transform(y_test.reset_index(drop=True))),
                        pd.DataFrame(scalar.inverse_transform(grid))], axis = 1)

In [ ]:
clf.score(X_test,y_test)

In [ ]:
sns.jointplot(y_test.iloc[:,2],y_test.iloc[:,1],kind = "kde")
sns.jointplot(grid[:,2],grid[:,1],kind = 'kde',color='green')